<nav class="bg-gray-900 py-4 px-6 flex flex-col lg:flex-row justify-between items-center">
  <div class="text-white text-lg mb-2 lg:mb-0">Github Rocks</div>
  <div class="relative">
    <input type="text" [(ngModel)]="searchInput" (keydown.enter)="handleSearch()" placeholder="Github Username" class="bg-gray-800 text-white px-3 py-2 pl-10 rounded focus:outline-none focus:bg-gray-700 focus:text-gray-200">
    <svg (click)="handleSearch()" class="cursor-pointer hidden lg:block absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
      <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
    </svg>
  </div>
</nav>

<ng-container *ngIf="searched;">
<app-default/>
</ng-container>

<ng-container *ngIf="!wholeloading">
  <ng-container *ngIf="user404">
    <app-user-not-found />
  </ng-container>
  
  <ng-container *ngIf="!user404">
    <div class="m-2">
      <div class="flex justify-start content-center">
        <ng-container *ngIf="loading; else showData">
          <app-profileskelton />
        </ng-container>
        
        <ng-template #showData>
          <app-profile [data]="data" [loading]="loading" />
        </ng-template>
      </div>
      
      <ng-container *ngIf="repoloading; else showrepo">
        <app-reposkelton [loading]="loading" />
      </ng-container>
      
      <ng-template #showrepo>
        <app-card [data]="repodata" />
        <div class="flex justify-center items-center mt-4">
          <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-4 py-2 rounded-md mr-2 {{ currentPage === 1 ? 'bg-gray-400 text-gray-600 cursor-not-allowed' : 'bg-gray-600 text-white' }}">Previous</button>
          <ng-container *ngFor="let page of generatePagesArray(totalPages)">
            <button (click)="goToPage(page)" [class.active]="currentPage === page" class="px-4 py-2 bg-gray-600 text-white rounded-md mr-2">
              {{ page }}
            </button>
          </ng-container>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-4 py-2 rounded-md mr-2 {{ currentPage === totalPages ? 'bg-gray-400 text-gray-600 cursor-not-allowed' : 'bg-gray-600 text-white' }}">Next</button>
          <div class="relative inline-block">
            <select class="px-4 py-2 bg-gray-600 text-white rounded-md appearance-none" [(ngModel)]="perpage" (ngModelChange)="onChange($event)">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
              <svg class="h-4 w-4" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7l3-3 3 3m0 6l-3 3-3-3" /></svg>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
