 <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <div [ngClass]="loading ? 'bg-gray-300 animate-pulse' : 'bg-blue-300'" class="border rounded-lg overflow-hidden shadow-md transition-colors duration-500">
        <div class="p-4">
          <div class="h-6 bg-gray-200 rounded w-3/4 mb-3"></div>
          <div class="h-4 bg-gray-200 rounded w-1/2"></div>
        </div>
        <div class="flex flex-wrap">
          <div class="mb-4">
            <div class="h-6 w-16 bg-gray-200 rounded-full"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div [ngClass]="loading ? 'bg-gray-300 animate-pulse' : 'bg-blue-300'" class="border rounded-lg overflow-hidden shadow-md transition-colors duration-500">
        <div class="p-4">
          <div class="h-6 bg-gray-200 rounded w-3/4 mb-3"></div>
          <div class="h-4 bg-gray-200 rounded w-1/2"></div>
        </div>
        <div class="flex flex-wrap">
          <div class="mb-4">
            <div class="h-6 w-16 bg-gray-200 rounded-full"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div [ngClass]="loading ? 'bg-gray-300 animate-pulse' : 'bg-blue-300'" class="border rounded-lg overflow-hidden shadow-md transition-colors duration-500">
        <div class="p-4">
          <div class="h-6 bg-gray-200 rounded w-3/4 mb-3"></div>
          <div class="h-4 bg-gray-200 rounded w-1/2"></div>
        </div>
        <div class="flex flex-wrap">
          <div class="mb-4">
            <div class="h-6 w-16 bg-gray-200 rounded-full"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div [ngClass]="loading ? 'bg-gray-300 animate-pulse' : 'bg-blue-300'" class="border rounded-lg overflow-hidden shadow-md transition-colors duration-500">
        <div class="p-4">
          <div class="h-6 bg-gray-200 rounded w-3/4 mb-3"></div>
          <div class="h-4 bg-gray-200 rounded w-1/2"></div>
        </div>
        <div class="flex flex-wrap">
          <div class="mb-4">
            <div class="h-6 w-16 bg-gray-200 rounded-full"></div>
          </div>
        </div>
      </div>
    </div>
                      
  </div>